.banner {
	background-image: url("image/banner.jpg");
	background-size: cover;
	padding: 140px 0 140px 0;
}

.banner-text {
	font-size: 50px;
	color: white;
}
.body-text {
	padding: 50px 0 50px 0;
}

.footer {
	padding: 100px 0 100px 0;
	background-color: black;
	text-align: center;
	color: white;
}
.mb50 {
	margin-bottom: 50px;
}

